{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Photo Scenery </title>
    {%block styles%}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {%endblock%}
</head>

<body>
    {%include "navbar.html"%}
    {%block content%}
    {%endblock%}

    {%include "footer.html"%}

    {%block scripts%}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="{% static '/js/main.js'%}"></script>
        <script>
            popup = {
          init: function(){
            $('figure').click(function(){
              popup.open($(this));
            });
            
            $(document).on('click', '.popup img', function(){
              return false;
            }).on('click', '.popup', function(){
              popup.close();
            })
          },
          open: function($figure) {
            $('.gallery').addClass('pop');
            $popup = $('<div class="popup" />').appendTo($('body'));
            $fig = $figure.clone().appendTo($('.popup'));
            $bg = $('<div class="bg" />').appendTo($('.popup'));
            $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
            $shadow = $('<div class="shadow" />').appendTo($fig);
            src = $('img', $fig).attr('src');
            $shadow.css({backgroundImage: 'url(' + src + ')'});
            $bg.css({backgroundImage: 'url(' + src + ')'});
            setTimeout(function(){
              $('.popup').addClass('pop');
            }, 10);
          },
          close: function(){
            $('.gallery, .popup').removeClass('pop');
            setTimeout(function(){
              $('.popup').remove()
            }, 100);
          }
        }
        
        popup.init()
        
        </script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>