{%extends 'photoviewer/base.html'%} 
{% block content %}
<div class="container">
	<div class="row">
<div class="gallery">
    {% for data in Image%}
  <figure>
    <img src="{{data.image.url}}" width="250" height="250" alt="{{data.name}}"/>
    <figcaption>{{data.name}} <br>
        <small><strong>Description: {{data.description}}</strong></small>
        <small><strong>Uploaded at </strong>  {{data.time}}</small>
        <small><strong>Author: </strong>{{data.uploader}}</small>
        <small>Location: {{data.location}}</small>
    </figcaption>
  </figure>
    {% endfor %}

    {%endblock%}